.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  margin-top: 0px;
}

.project-card {
  background: var(--surface-2);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 24px;
  text-align: left;
  transition: 0.25s ease;
  backdrop-filter: blur(1px);
}

.project-title {
  font-family: var(--heading);
  font-size: 20px;
  color: var(--text-h);
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.project-description {
  color: var(--text-dim);
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
  white-space: pre-line;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}